body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
  }
  
  header {
    background-color: #c11515;
    color: #e13535;
    padding: 10px;
    text-align: center;
  }
  
  h1, h2 {
    color: #ee1999;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
  }
  
  a {
    text-decoration: none;
    color: #11151a;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  form {
    max-width: 500px;
    margin: 20px auto;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007BFF;
    color: #f8f6f6;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  